  <form [formGroup]="formGroup" (ngSubmit)="printFormValue()">
    <div>
      <label for="country">Country</label>
      <div>
        <p-autoComplete [formControlName]="formField.country"
                        [suggestions]="suggestions"
                        (completeMethod)="onComplete($event)"
                        [optionLabel]="formField.country"
                        placeholder="Country"
                        forceSelection="true"
                        inputId="country"
                        id="country"
                        dataKey="code">
          <ng-template let-item pTemplate="item">
            <div>
              <span>{{ item.country }}</span>
            </div>
          </ng-template>
        </p-autoComplete>
      </div>
      <div class="from__message--error" *ngIf="formGroup.get(formField.country)?.errors?.['required'] && formGroup.get(formField.country)?.touched">Country is required</div>

    </div>
    <p-button type="submit" [disabled]="!formGroup.valid">Print result</p-button>
  </form>
